$phone: 480px;
$lgPhone: 600px;
$tablet: 768px;
$desktop: 960px;
$lgScreen: 1200px;
$final: 1560px;
$union: #DF672A;
$icon-gray: #404041;
$gray: #eaeaec;
$lt-gray: #C6C8CA;
$dk-gray: #59595b;
$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
