extends ./layout.pug
block content
	main#adjustments.technology
		section#page-header
			h1 Technology
			p Materials Matter
		section#mindset
			div.container
				h3 The Mindset
				p With all the different boot sizes, shapes, and rider preferences - fine tuned sizing and fit adjustments are paramount for absolute performance and comfort. The following are a some of the key components that make up "Union Fit".
		section#hero-image
			img(src="../images/technology/adjustments-hero-bg.jpg")#hero-bg
			div#hero-text
				h3 ADJUSTMENT#[br]IS BETTER
				p With all the different boot sizes, shapes, and rider preferences - fine tuned sizing and fit adjustments are paramount for absolute performance and comfort. The following are a some of the key components that make up "Union Fit".
		section#grid
			div.container
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/vaporlite-img.jpg")
						.grid-title
							h6 Vaporlite
						.grid-text
							p "Full Bottom" Vaporlite EVA Bushings provide exceptional shock absorption while maintaining supreme board feel with natural board flex.
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/fc-vaporlite-img.jpg")
						.grid-title
							h6 FC Vaporlite 3.0
						.grid-text
							p Forged Carbon and Vaporlite 2.0 combine to give the best of both worlds - a super stiff platform, cushioned with the highest quality dampening available anywhere.
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/cp3-highback-img.jpg")
						.grid-title
							h6 CP3 Highback
						.grid-text
							p Developed with Gigi Rüf, the all new CP3 Highback is lighter than previous models, and comes equipped with the new "Mini FLAD" forward lean adjuster.
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/minidisk-img.jpg")
						.grid-title
							h6 Minidisk
						.grid-text
							p Minimal binding-to-board footprint crucially reduces interference with your board's true flex, providing a more natural response and feel. 4x2 and Channel ready.
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/exoframe-img.jpg")
						.grid-title
							h6 Exoframe
						.grid-text
							p Independent suspension and support create a seamless interface. This all new super cushioned and lightweight design comfortably holds you in, but won't hold you back.
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/magnesium-img.jpg")
						.grid-title
							h6 Magnesium 2.0
						.grid-text
							p Four times stronger than aluminum with only half the weight, Union buckles are built to last. The all new 2.0 design is 10% lighter than previous versions.
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/ultragrip-img.jpg")
						.grid-title
							h6 Ultragrip X
						.grid-text
							p All new for 16/ 17, UltraGrip X is the evolution of our thermoplastic anti-slip toe straps. Lighter, grippier, and even more comfortable.








