extends ./layout.pug
block content
	main#bindings-page
		section#bindings-filter
			.container
				div#filter-title
					h6 Binding Filter:
				div#filter-tabs
					ul
						li: a(data-filterLabel="mens").filter-tab men's
						li: a(data-filterLabel="womens").filter-tab women's
						li: a(data-filterLabel="minis").filter-tab min's
		section#bindings-grid
			.container
				div#filter-group-mens.filter-group
					div.section-title
							h2 Men's Bindings
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")

					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")

					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
				div#filter-group-womens.filter-group
					div.section-title
							h2 Women's Bindings
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")

					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")

					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")

				div#filter-group-minis.filter-group
					div.section-title
							h2 Kid's Bindings
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")

					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")

					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
					div.binding
						div.binding-display
							div.special-feature-icon
								img(src="https://www.unionbindingcompany.com/sites/all/themes/union1516/images/badge-sm-platinum.png")
							img(src="../images/bindings/fc-binding.png")
						div.binding-info-preview
							div.binding-name
								h6 The longest name
							div.binding-tagline
								p some tagline from the catalog
							div.colorways
								label colorways:
								div.column.swatch
									div.model_info--swatch
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black").active
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")
										a(href="#", data-hero="https://www.unionbindingcompany.com/sites/default/files/binding/hero/UNION_BINDING_HERO-ULTRA_01.png" data-style="white-black")
											img(src="https://www.unionbindingcompany.com/sites/default/files/binding/colorway/UNION_BINDING_COLOR_SWATCHES-ULTRA_01.jpg", title="white-black")