extends ./layout.pug
block content
	main#contact-page
		section#page-header
			h1 Contact Us
			p CALL US AT 206-632-1601<br/>OR SELECT YOUR REGION BELOW
		section#contact-map
			img(src="../images/contact-map.png")
		section#contact-filter
			.container
				div#filter-tabs
					ul
						li: a(data-filterLabel="north-america").filter-tab North Amercia
						li: a(data-filterLabel="south-america").filter-tab South America
						li: a(data-filterLabel="australia-new-zealand").filter-tab AUSTRALIA+NEW ZEALAND
						li: a(data-filterLabel="europe").filter-tab Europe
						li: a(data-filterLabel="asia").filter-tab Asia
						li: a(data-filterLabel="canada").filter-tab Canada
		section#contact-info
			.container
				h4 Info
				p Have a question about sizing? Want to know what binding would work best for your riding style? Need help with a warranty? Just want to chat with someone about snowboarding?
				p We're here to help! Shoot us an e-mail or give us a call.
				h6 Hours
				p Mon-Fri: 9am-5pm PST Saturday: Closed Sunday: Closed
		section#contact-grid
			.container
				div#filter-group-union.filter-group
					div.grid
						.grid-inner
							h4 Addrress
							p Union Binding Company
							p 2700 West Commodore Way
							p Suite 301, Seattle, WA 98199
					div.grid
						.grid-inner
							h4 WARRANTY / PARTS REQUEST:
							p Telephone: 206-632-1601
							p Fax: 206-932-0543
							p E-Mail: warranty@c3ww.com
					div.grid
						.grid-inner
							h4 RIDER SERVICE/ GENERAL INFO:
							p Telephone: 206-632-1601
							p Fax: 206-932-0543
							p E-Mail: info@unionbindingcompany.com
					div.grid
						.grid-inner
							h4 Sales:
							p Telephone: 206-632-1601
							p Fax: 206-932-0543
							p E-Mail: info@c3-worldwide.com
				div#filter-group-north-america.filter-group
					div.grid
						.grid-inner
							h4 Addrress
							p North America
							p 2700 West Commodore Way
							p Suite 301, Seattle, WA 98199
					div.grid
						.grid-inner
							h4 WARRANTY / PARTS REQUEST:
							p Telephone: 206-632-1601
							p Fax: 206-932-0543
							p E-Mail: warranty@c3ww.com
					div.grid
						.grid-inner
							h4 RIDER SERVICE/ GENERAL INFO:
							p Telephone: 206-632-1601
							p Fax: 206-932-0543
							p E-Mail: info@unionbindingcompany.com
					div.grid
						.grid-inner
							h4 Sales:
							p Telephone: 206-632-1601
							p Fax: 206-932-0543
							p E-Mail: info@c3-worldwide.com










