extends ./layout.pug
block content
	main#efficiency.technology
		section#page-header
			h1 Technology
			p Design Efficiency
		section#mindset
			div.container
				h3 The Mindset
				p Cutting down on production time, assembly time, fuel costs and waste - Creating a smarter manufacturing system delivers direct value to the end user.
		section#hero-image
			img(src="../images/technology/efficiency-hero-bg.jpg")#hero-bg
			img(src="../images/technology/efficiency-hero.png")#hero
		section#efficiency-quote
			div.container
				p "Everything you see with the Union logo on it has been designed to be as efficient as possible. Whether we are talking about simplistic sizing adjustments to cut down on set up time, to producing everything within a one block radius to cut down on transport costs - efficient design is always good design." #[br]—Martino Fumagalli #[span (GENERAL MANAGER)]
			section#panel
				div#dedicated
					svg(width='100%', height='100%', viewbox='0 0 57 57', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;')
						g(transform='matrix(0.983997,0,0,0.983997,-704.376,-1427.54)')
							path(d='M754.44,1493.97C754.44,1495.76 752.986,1497.22 751.19,1497.22L738.399,1497.22C736.603,1497.22 735.149,1495.76 735.149,1493.97L735.149,1473.59L715.831,1473.59L715.831,1483.98L720.826,1488.96L720.826,1498.49C720.826,1504.12 725.388,1508.68 731.016,1508.68L758.573,1508.68C764.201,1508.68 768.763,1504.12 768.763,1498.49L768.763,1488.96L773.758,1483.98L773.758,1473.59L754.44,1473.59L754.44,1493.97ZM715.831,1450.75L715.831,1462.29L736.504,1462.29L744.796,1470.59L753.085,1462.29L773.758,1462.29L773.758,1450.75L715.831,1450.75Z', style='fill-rule:nonzero;')

					h4 Dedicated
				img(src="../images/technology/efficiency-panel.jpg")








