extends ./layout.pug
block content
	main#home-page
		section.swiper-container
			div.swiper-wrapper
				div.swiper-slide
					div.swiper-content
						div.swiper-content-title
							h6 GIGI RÜF
						div.swiper-content-text
							p One of the lightest bindings ever produced, the Contact pro focuses the strength of Duraflex™ in critical areas of the base for power, taking full advantage of Vaporlite Dampening everywhere else.
						div.swiper-content-link
							a CHECK OUT THE CONTACT PRO
					div(data-swiperIMG="../images/banner/gigi.jpg").swiper-overlay
				div.swiper-slide
					div.swiper-content
						div.swiper-content-title
							h6 GIGI RÜF
						div.swiper-content-text
							p One of the lightest bindings ever produced, the Contact pro focuses the strength of Duraflex™ in critical areas of the base for power, taking full advantage of Vaporlite Dampening everywhere else.
						div.swiper-content-link
							a CHECK OUT THE CONTACT PRO
					div(data-swiperIMG="../images/banner/gigi.jpg").swiper-overlay

			div.swiper-pagination
			div.swiper-button-prev
			div.swiper-button-next
