extends ./layout.pug
block content
	main#team
		section#page-header
			h1 Team
			p 2016 / 2017 SPONSORED RIDERS
		section#team-banner.bg-parallaxY
			img.placeholder(src="http://placehold.it/1511x485")
			div.container
				h2 Stronger.
				h3 Union team movie in progress: fall 2016
		section#riders
			div.container
				div#rider-grid
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Torstein Horgmo
					a.rider.pro
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Johnny O'Connor 
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Kuso
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Nic Harvey
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Mike Rav
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Arthur Longo
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Chase Josey 
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Brendan Gerard
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Brandon Cocard
					a.rider
						img(src="http://placehold.it/260x260")
						div.rider-name
							p Durell Williams
