extends ./layout.pug
block content
	main#truflex.technology
		section#page-header
			h1 Technology
			p Trueflex Evolution
		section#mindset
			div.container
				h3 The Mindset
				p Beginning with our first prototypes in 2004, Union originated and pioneered the concept of TrueFlex and the benefits of a minimized binding footprint.
		section#grid
			div.container
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/trueflex-full-bottom.jpg")
						.grid-title
							h6 FULL BOTTOM MULTIZONE EVA
						.grid-text
							p Multizone Full Bottom Bushing System allows for natural canting, incredible vibration damping and a surfy feel.
						.grid-featured
							p Featured Models
							p #[span Contact/Milan]
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/trueflex-vaporlite.jpg")
						.grid-title
							h6 VAPORLITE
						.grid-text
							p The evolution of closed cell foam - natural canting and next level vibration dampening. Season long foot comfort.
						.grid-featured
							p Featured Models
							p #[span Contact Pro/Legacy]
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/truflex-vaporlite2.jpg")
						.grid-title
							h6 Vaporlite 2.0
						.grid-text
							p Featuring 2 distinct zones, Vaporlite 2.0 bushings are more firm towards the outside - aiding the natural canting feel..
						.grid-featured
							p Featured Models
							p #[span Ultra]
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/trueflex-fc-vaporlite.jpg")
						.grid-title
							h6 FC Vaporlite 3.0
						.grid-text
							p Integrated Forged Carbon and Vaporlite 2.0 combine to give the best of both worlds - enhanced response and supreme comfort.
						.grid-featured
							p Featured Models
							p #[span Ultra FC]
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/trueflex-thermaformed.jpg")
						.grid-title
							h6 THERMOFORMED EVA
						.grid-text
							p Shock absorption saves your heels and promotes a true and even board flex.
						.grid-featured
							p Featured Models
							p #[span FLITE Pro/Rosa]
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/trueflex-multidensity.jpg")
						.grid-title
							h6 MULTIDENSITY THERMOFORMED EVA
						.grid-text
							p Featuring two separate densities - one supplying durability, the other providing extended comfort.
						.grid-featured
							p Featured Models
							p #[span Cadet]
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/trueflex-multidensity-ote.jpg")
						.grid-title
							h6 MULTIDENSITY OTE THERMOFORMED EVA
						.grid-text
							p Continuing the Union bushing philosophy, "Over the Edge" bushings wrap around the outside of the base for extra padding.
						.grid-featured
							p Featured Models
							p #[span St/Juliet]
				.grid-item
					.grid-border
						.grid-image
							img(src="../images/technology/trueflex-4point.jpg")
						.grid-title
							h6 4 POINT MULTIDENSITY THERMOFORMED EVA
						.grid-text
							p All four corners of the baseplate are void of pressure points and promote true board flex.
						.grid-featured
							p Featured Models
							p #[span Travis Rice/Atlas/Trilogy]








